{% if jekyll.environment == 'production' %}

        {% if site.goatcounter %}
        <!-- Goatcounter -->
        <script data-goatcounter="https://{{ site.goatcounter }}/count"
                async src="//{{ site.goatcounter }}/count.js"></script>
        {% endif %}


        {% if site.google_analytics %}
        <!-- Google Analytics Tracking code -->
         <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        
          ga('create', '{{ site.google_analytics }}', 'auto');
          ga('send', 'pageview');
        
         </script>
        {% endif %}
        
        
        {% if site.matomo.site_id %}
        <!-- Matomo -->
        <script type="text/javascript">
          var _paq = _paq || [];
          _paq.push(["trackPageView"]);
          _paq.push(["enableLinkTracking"]);
        
          (function() {
            var u=(("https:" == document.location.protocol) ? "https" : "http") + "://{{ site.matomo.url }}/";
            _paq.push(["setTrackerUrl", u+"piwik.php"]);
            _paq.push(["setSiteId", "{{ site.matomo.site_id }}"]);
            var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
            g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
          })();
        </script>
        <noscript><img src="https://{{ site.matomo.url }}/piwik.php?idsite={{ site.matomo.site_id }}&amp;rec=1" style="border:0" alt="" /></noscript>
        <!-- End Matomo Code -->
        {% endif %}
{% endif %}
